@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
}

.container{
    width:90%;
    max-width: 1200px;
    overflow: hidden;
    margin:0 auto;
}
header{
    min-height: 100vh;
    background-image: linear-gradient(180deg, #223240 10%, #6653538c 100%), url(icons/solar.jpg);
    z-index: -1;  
    display: flex;
    align-items:center;
    justify-content:center;
    background-size: cover;
}

.titulo{
    max-width: 800px;
    --padding-container: 0;
    display:grid;
    grid-auto-rows: max-content ;
    align-content: center;
    gap:1em;
    padding-bottom: 100px;
    text-align:center;
    margin: 0 auto;
    color:#f9f9f9;
    font-size: 6.5rem;
    font-weight: 200;
}


#quienessomos{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #f1eeee;
    
}

.subtitle{
    width: fit-content;
    margin: 20px;    
    font-size: 2rem;
    margin-bottom: 10px;
    color: #132d46;
}

#subobj{
  color: #134639;
}
.chau{
    min-width: 49%;

}

.sobrenos{
    font-weight: 300;
    font-size: 1.5rem;
    width: fit-content;
    margin: 20px;
    color: #1f1818;
}

.img{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.equipo{
    background-color:rgb(46, 46, 46);
    color: #f9f9f9;
    overflow: hidden;
}


.contacto img{
    width: 50px;
}

.contitulo{
    text-align: center;
    font-size: 2rem;
}

.articles{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.nombre{
    color: #000000;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 450;
    text-align: right;
    margin-right: 15px;
    align-items: center;
}
.perfil{
    background-color: rgb(173, 204, 199);
    height: 100px;
    width: 350px;
    margin: 30px;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.rol{
    color: #000000;
    font-size: 1.3rem;
    font-weight: 350;
    text-align: right;
    margin-right: 15px;
    align-items: center;
}
  
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 10px;
  }
  
  .col-12{
      width: 30%;
  }
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #057272;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #208668;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #125c4c;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }

  .name{
      color: #223240;
  }

  .row{
      display: flex;
      justify-content: space-around;
      width: 75%;
      margin: 0 auto;
  }
  
  #nuestroobjetivo{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #f1eeee;
    
}