@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
}

.container{
    width:90%;
    max-width: 1200px;
    overflow: hidden;
    margin:0 auto;
}
header{
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #223240 10%, #6653538c 100%), url(icons/solar.jpg);
    z-index: -1;  
    display: flex;
    align-items:center;
    justify-content:center;
    background-size: cover;
}

.titulo{
    max-width: 800px;
    --padding-container: 0;
    display:grid;
    grid-auto-rows: max-content ;
    align-content: center;
    gap:1em;
    padding-bottom: 100px;
    text-align:center;
    margin: 0 auto;
    color:#f9f9f9;
    font-size: 6.5rem;
    font-weight: 200;
}


#quienessomos{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #f1eeee;
    
}

.quienes{
    width: fit-content;
    margin: 20px;    
    color:var(--color-title);
    font-size: 2rem;
    margin-bottom: 10px;
    color: #132d46;
}
#chau{
    min-width: 49%;

}

.sobrenos{
    font-weight: 300;
    font-size: 1.5rem;
    width: fit-content;
    margin: 20px;
    color: #1f1818;
}

.imgnos{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.contacto{
    background-color:rgb(46, 46, 46);
    color: #f9f9f9;
    display: flex;
    flex-flow: column;
}

.contacto img{
    width: 50px;
}

.contitulo{
    text-align: center;
    font-size: 2rem;
}

.articles{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.nombre{
    color: #000000;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 450;
    text-align: right;
    margin-right: 15px;
    align-items: center;
}
.perfil{
    background-color: rgb(173, 204, 199);
    height: 200px;
    width: 200px;
    margin: 30px;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
