
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
:root{
    --padding-container: 100px, 0;
    --color-title: #001A49;

}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    padding: 0;
}

.container{
    width:90%;
    max-width: 1200px;
    overflow: hidden;
    margin:0 auto;
}

nav{
    background-color:#223240;
    background-color: rgb(34, 50, 64, 0.8);
    position: sticky;
    top: 0;
    padding: 30px;
    height: 100%;
    display:flex;
    align-items: center;
    z-index: 100;
}

.hero{
    width:100%;    
    height:100%;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display:grid;
    grid-template-rows: 100px, 1fr;
    color:white;
    margin-left: 0 auto;
}

.hero::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-image: linear-gradient(180deg, #223240 15%, #6653538c 100%), url(icons/solar.jpg);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    z-index: -1;
}

#iniciotxt{
    color:#ffffff;
    padding: 5px 6px;

}

#hero_container{
    max-width: 800px;
    --padding-container: 0;
    display:grid;
    grid-auto-rows: max-content ;
    align-content: center;
    gap:1em;
    padding-bottom: 100px;
    text-align:center;
    margin: 0 auto;
}

#hero_title{
    font-size: 2.5rem;
}

.cta{
    display: inline-block;
    background-color: transparent;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 23px;
    border-style:solid;
    border-color: white;
    border-radius: 32px;
}

/*main*/ 

.subtitulo{
    margin-top:60px;
    color:var(--color-title);
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

#aboutp{
    line-height: 3;
    text-align: center;
}

.about_icons{
    display:grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

#about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    margin-bottom: 100px;

}

.about_icon{
    width: 40px;
}

#places{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 40px;
}

.lugar{
    display: flex;
    height: 400px;
    width: 200px;
    background-size: cover; 
    margin: 0 auto;

}

.lugar1{
    background-image: url(icons/solarshopping.jpg);
    background-color: black 0.7;

}

.lugar2{
    background-image: url(icons/ort\ monta.jpeg);
    background-color: black 0.7;

}

.lugar3{
    background-image: url(icons/libertador.jfif);
    background-color: black 0.7;

}

.lugar4{

    background-image: url(icons/sesion-de-entrenamiento-en-futbol.jpg);
}

.lugar5{
    background-image: url(icons/barrancas15.jpg);
    background-color: black 0.7;
}
.links_img{
    margin: auto;
    background-color: black ;
    opacity: 0.9;
    color:#ffff;
    /* clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%); */
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 5e0;
    
}

.donde{
    background-color: #e3e6e5;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.donde_sub{
    padding-bottom: 50px;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.footer-links{
    color:#a0a0a0;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}