@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ecebeb;
}

.container{
    overflow: hidden;
    margin:0 auto;
}

nav{
    background-color:#223240;
    background-color: rgb(34, 50, 64, 0.8);
    position: sticky;
    top: 0;
    /* padding: 20px; */
    height: 100%;
    display:flex;
    align-items: center;
    z-index: 100;
}

header{
    min-height: 90vh;
    background-image: linear-gradient(180deg, #222b40 5%, #6653538c 100%), url(icons/solar.jpg);
    z-index: -1;  
    display: flex;
    align-items:center;
    justify-content:center;
    background-size: cover;
}

.titulo{
    max-width: 800px;
    --padding-container: 0;
    display:grid;
    grid-auto-rows: max-content ;
    align-content: center;
    gap:1em;
    padding-bottom: 100px;
    text-align:center;
    margin: 0 auto;
    color:#f9f9f9;
    font-size: 6.5rem;
    font-weight: 200;
}

.cuantaenergia{
    background-color: #ecebeb;
    padding-top: 80x;
    padding-bottom: 100px;
    display:flex;
    justify-content: space-around;
    
}

.gen{
    display: flex;
    justify-content: center;
    font-size: 5.5rem;
    color:#000a1d;
    font-family: 'Poppins';
    margin-bottom: 0;
}

.joules{
    display:flex;
    justify-content: center;
    font-size: 3rem;
    color: #000d25;
    font-weight: 400;
    margin: 0 40px;
}
.container_slider{
    margin-top: 20px;
    margin: auto;
    overflow: hidden;
    background-color: #ecebeb;
    margin-bottom: 20px;
}

.slider{
    display: flex;
    height: 400px;
    width:300%;
    background-size: cover;
    margin-left: -100%;
}

.slider_section{
    width: 100%;
}

.slider_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.textoslider{
    position: absolute;
}


.slider_btn{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider_btn--right{
    right: 10px;
}

.reciclable{
    background-color: #d6f5e2;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.imgplas{
    margin-left: 40px;
    margin-top: 40px;
    height: 550px;
    width: 550px;
    border-radius: 2%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.texto{
    margin-left: 30px;
    align-items: center;
}

.subtitle{
    font-size: 2.3rem;
    color:#132d46;
}

.txtrecic{
    margin-top: 0;
    font-size: 1.6rem;
    font-weight: 210;
}

.slider1 {
    background-image: url("icons/slider1.jpg");
    object-fit: contain;
}

.slider2{
    background-image: url("icons/slider2.jpg");
    object-fit: cover;
}

.slider3{
    background-image: url("icons/slider3.jpg");
    object-fit: cover;
}

.slider_p {
    margin: 20px;
}