@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ecebeb;
}

.container{
    width:90%;
    max-width: 1200px;
    overflow: hidden;
    margin:0 auto;
}
header{
    min-height: 100vh;
    background-image: linear-gradient(180deg, #223240 10%, #6653538c 100%), url(icons/solar.jpg);
    z-index: -1;  
    display: flex;
    align-items:center;
    justify-content:center;
    background-size: cover;
}

.titulo{
    max-width: 800px;
    --padding-container: 0;
    display:grid;
    grid-auto-rows: max-content ;
    align-content: center;
    gap:1em;
    padding-bottom: 100px;
    text-align:center;
    margin: 0 auto;
    color:#f9f9f9;
    font-size: 6.5rem;
    font-weight: 200;
}

.cuantaenergia{
    background-color: #ecebeb;
    padding-left: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}


.gen{
    display:inline;
    font-size: 5rem;
    color:#000a1d;
    font-family: 'Poppins';
}

.joules{
    display:inline;
    font-size: 4rem;
    color: #000d25;
    font-weight: 300;

}
.container_slider{
    margin-top: 20px;
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    /* box-shadow: 0 8px 25px; */
    border-radius: 25px;
    position: relative;
    background-color: #ecebeb;
    margin-bottom: 20px;
}

.slider{
    display: flex;
    height: 400px;
    width:300%;
    background-size: cover;
    margin-left: -100%;
}

.slider_section{
    width: 100%;
}

.slider_img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_btn{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider_btn--right{
    right: 10px;
}

.reciclable{
    background-color: #819689;
}
.imgplas{
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 5%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}