
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
:root{
    --padding-container: 100px, 0;
    --color-title: #001A49;

}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    padding: 0;
}

.container{
    width:90%;
    max-width: 1200px;
    overflow: hidden;
    margin:0 auto;
}

.hero{
    width:100%;    
    height:100%;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display:grid;
    grid-template-rows: 100px, 1fr;
    color:white;
    margin-left: 0 auto;
}

.hero::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-image: linear-gradient(180deg, #223240 15%, #6653538c 100%), url(icons/solar.jpg);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    z-index: -1;
}

/*Nav*/
nav{
    --padding-container:0;
    height: 100%;
    display:flex;
    align-items: center;
}
#navtitle{
    font-weight: 300;
    margin-left: 2rem;
}

/* .nav_linkmenu{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    margin-right: 2rem;
} */
.nav_linkmenu{
    margin-left: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_items{
    list-style:none;
}

.nav_links{
    margin-right: 2px;
    color:white;
    text-decoration: none;
    display:grid;
    grid-auto-columns: max-content;
    gap: 2em;
    margin: 0 20px;
}
.nav_menu{
    margin-left:auto;
    cursor:pointer;
    display:none;
}
.nav_img{
    display:block;
    width:30px;
}

#iniciotxt{
    border-style:solid;
    background-color: white;
    border-color: white;
    border-radius: 32px;
    color:#001A49;
    padding: 5px 6px;

}
#nav_close{
    margin: 0 20px;
}

#hero_container{
    max-width: 800px;
    --padding-container: 0;
    display:grid;
    grid-auto-rows: max-content ;
    align-content: center;
    gap:1em;
    padding-bottom: 100px;
    text-align:center;
    margin: 0 auto;
}

#hero_title{
    font-size: 2.5rem;
}

.cta{
    display: inline-block;
    background-color: transparent;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 23px;
    border-style:solid;
    border-color: white;
    border-radius: 32px;
}

/*main*/ 

.subtitulo{
    margin-top:60px;
    color:var(--color-title);
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

#aboutp{
    line-height: 3;
    text-align: center;
}

.about_icons{
    display:grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

#about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    margin-bottom: 20px;
}

.about_icon{
    width: 40px;
}

#places{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
    
}

.lugar{
    display: flex;
    height: 400px;
    width: 200px;
    background-size: cover; 
    margin: 0 auto;

}

.lugar1{
    background-image: url(icons/solarshopping.jpg);
    background-color: black 0.7;

}

.lugar2{
    background-image: url(icons/ort\ monta.jpeg);
    background-color: black 0.7;

}

.lugar3{
    background-image: url(icons/libertador.jfif);
    background-color: black 0.7;

}

.lugar4{
    background-image: url(icons/sesion-de-entrenamiento-en-futbol.jpg);
    background-color: black 0.7;
}

.lugar5{
    background-image: url(icons/barrancas15.jpg);
    background-color: black 0.7;
}
.links_img{
    margin: auto;
    background-color: black ;
    opacity: 0.8;
    color: #A6D6D3 ;
    /* clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%); */
    padding: 8px 18px;
    text-decoration: none;
    text-align: center;
}

.donde{
    background-color: #A6D6D3;
    width: 100%;
    background-size: cover;
    overflow: hidden;

}

.donde_sub{
    padding-bottom: 30px;
}